/* ========== BAWAANNYA BOOTSTRAP EXAMPLE - PRODUCTS ========== */

.container {
  max-width: 960px;
}

.site-header {
  background-color: #1E1E1F;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

.flex-equal>* {
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal>* {
    flex: 1;
  }
}


/* ========== BUATAN GUA ========== */
:root{
  /* --font-family: 'Quicksand', sans-serif;
  --fw-bold:800;
  --fw-semibold:700;
  --fw-medium:500;
  --fw-reguler:400;
  --fs-sub-body: 14px;
  --fs-body: 16px;
  --fs-subtitle:18px;
  --fs-title:20px;
  --fs-head-title:22px;
  --fs-page-title:28px;
  --fs-hero-title:42px;
  --fs-hero-subtitle:30px; */
  --clr-dark: #1E1E1F !important;
  --clr-cyan: #4DF1FB !important;
  --clr-violet: #541F5D !important;
  --clr-pink: #E97AE4 !important;
  --clr-white: #FFFFFF !important;
  --bg-gradient: linear-gradient(#1E1E1F, #541F5D) !important;
  --text-gradient: linear-gradient(to right, #4DF1FB, #E97AE4) !important;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

* {
  font-family: myFirstFont !important;
}

@font-face {
  font-family: myFirstFont;
  src: url(fonts/montserraf/Montserrat-Light.ttf);
}

@font-face {
  font-family: myFirstFont;
  src: url(fonts/montserraf/Montserrat-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: myFirstFont;
  src: url(fonts/montserraf/Montserrat-Italic.ttf);
  font-style: italic;
}

.color-dark {
  color: var(--clr-dark);
}

.color-cyan {
  color: var(--clr-cyan);
}

.bg-grad {
  background-image: var(--bg-gradient);
}

.bg-transp{
  background-color: transparent !important;
}

.text-grad {
  background: var(--text-gradient);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.bg-cover {
  background-image: url(images/slide.png);
  width: 100% !important;
  height: 100% !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% !important;
}

body{
  overflow-x: hidden;
}

.section-title{
  margin-bottom: 50px;
  width: 300px;
  display: inline-block;
}

.section-title::after{
  content: "";
  display: block;
  position: absolute;
  width: 250px;
  height: 3.5px;
  background: var(--text-gradient);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  left: 50%;
  margin-top: 5px;
  transform: translateX(-50%);
}

.btn{
  border-radius: 50px !important; 
  border-width: medium;
  font-weight: bolder;
}

/* .btn:hover{
  background: var(--text-gradient);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  
  border-radius: 50px !important;
  border-width: medium;
  font-weight: bolder;
  
  border-image-slice: 1;
  border-image-source: var(--text-gradient);
} */

.btn:hover{
  content: "";
  background:linear-gradient(45deg,#4DF1FB, #E97AE4);
  /* border-color: none !important; */
  border-style: none;
  padding: 0.53rem 0.9rem !important;
}

.btn-outline-light.active{
  content: "";
  background:linear-gradient(45deg,#4DF1FB, #E97AE4);
  border-style: none;
  padding: 0.53rem 0.9rem !important;
}

.nav-grad:hover{
  background: var(--text-gradient);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/*
 *  scroll
 */

 .scrollku::-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   background-color: var(--clr-dark);
   border-radius: 10px;
 }
 
 .scrollku::-webkit-scrollbar
 {
   width: 5px;
   background-color: var(--clr-dark);
 }
 
 .scrollku::-webkit-scrollbar-thumb
 {
   border-radius: 10px;
   background-image: -webkit-gradient(linear,
                      left bottom,
                      left top,
                      color-stop(0.44, var(--clr-pink)),
                      color-stop(0.72, var(--clr-pink)));
 }


 /* ========== COPY ========== */
.skill-category {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  column-gap: 10px;
  justify-content: center;
  margin-bottom: 30px;
}

.skill-img-group{
  background: var(--clr-skills-gradient);
  margin-left: -80px;
  margin-right: -80px;
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill-img-group img{
  margin: 25px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  transition: all .15s linear;
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  -ms-transition: all .15s linear;
  -o-transition: all .15s linear;
}

.skill-img-group img[data-scroll=show]{
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.skill-img-wrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 768px){
  .about-content-wrapper {
      flex-direction: column;
      text-align: center;
  }

  .skill-category {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .skill-img-group{
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px 30px;
  }

  .skill-img-wrapper{
      gap: 35px;
  }

  .skill-img-group img{
      margin: 0;
  }
}
